* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.section {
  width: 100%;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
/*------шапка---------*/
.header {
  background: #121d39;
}
body {
  font-family: "poppinsmedium", "arial", sans-serif;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__list {
  margin-top: 54px;
  display: flex;
  font-size: 15px;
}
.menu__list .home {
  margin-right: 80px;
  margin-left: 255px;
  color: white;
}
.menu__list .home:hover {
  color: #d9d9d9;
}
.menu__list .featured {
  margin-right: 75px;
  color: white;
}
.menu__list .featured:hover {
  color: #d9d9d9;
}
.menu__list .pricing {
  margin-right: 80px;
  color: white;
}
.menu__list .pricing:hover {
  color: #d9d9d9;
}
.menu__list .contack {
  margin-right: 236px;
  color: white;
}
.menu__list .contack:hover {
  color: #d9d9d9;
}
.menu__list .signup {
  margin-right: 25px;
  color: white;
}
.menu__list .signup:hover {
  color: #d9d9d9;
}
.menu .logo {
  margin-top: 54px;
  font-size: 20px;
  background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}
.menu .login {
  border: none;
  font-size: 15px;
  border-radius: 100px;
  background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%), linear-gradient(0deg, #BFBFBF, #BFBFBF), #FFFFFF;
  color: white;
  width: 128px;
  height: 49px;
  margin-top: 40px;
}
.menu .login:hover {
  background: #0d8baa;
}
/*------main-top---------*/
.main-top__wrapper {
  background: url("../img/Rectangle 42.svg") no-repeat center;
}
.main-top {
  display: flex;
  flex-direction: row;
}
.main-top .btn-list {
  border: none;
  margin-top: 95px;
  font-size: 18px;
  width: 159px;
  height: 50px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
  color: white;
  text-align: center;
}
.main-top .preview1 {
  margin-top: 7px;
  font-size: 55px;
  color: white;
  max-width: 500px;
}
.main-top .preview2 {
  margin-top: 30px;
  font-size: 25px;
  color: white;
  opacity: 0.5;
  max-width: 550px;
}
.main-top .btn-info {
  border: none;
  margin-top: 68px;
  font-size: 25px;
  width: 263px;
  height: 91px;
  border-radius: 27px;
  background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%), linear-gradient(0deg, #BFBFBF, #BFBFBF), #FFFFFF;
  color: white;
}
.main-top .btn-info:hover {
  background: #0d8baa;
}
.main-top .krug {
  width: 747px;
  height: 747px;
  border-radius: 100%;
  background: rgba(27, 138, 219, 0.22);
  position: relative;
  left: 60px;
}
.main-top .krug::after {
  content: "";
  position: absolute;
  background: url("../img/Group 6.svg") no-repeat;
  transform: rotate(200deg);
  width: 100px;
  height: 100px;
  right: 0;
  bottom: 50px;
}
.main-top .krug::before {
  content: "";
  position: absolute;
  background: url("../img/Group 6.svg") no-repeat;
  width: 100px;
  height: 100px;
  left: -30px;
  top: 50px;
}
.main-top .krug img {
  position: absolute;
  top: 50px;
  left: 80px;
}
.main-top .img-preview {
  width: 592px;
  height: 820px;
  margin-left: 20px;
  margin-bottom: 24px;
  border-radius: 86px;
}
/*------main-middle---------*/
.main-middle {
  display: flex;
  flex-direction: column;
}
.main-middle .featured {
  text-align: center;
  margin-top: 200px;
}
.main-middle .featured .featured-head {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #17C1ED;
}
.main-middle .featured .featured-mid {
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #101729;
}
.main-middle .Ghazi {
  display: flex;
  flex-direction: row;
  margin-top: 128px;
}
.main-middle .Ghazi .hotel-pictures {
  position: relative;
}
.main-middle .Ghazi .hotel-pictures::after {
  content: "";
  position: absolute;
  background: url("../img/Group 6.svg") no-repeat;
  transform: rotate(250deg);
  width: 100px;
  height: 100px;
  right: -950px;
  bottom: 300px;
}
.main-middle .Ghazi .hotel-pictures .img-ghazi {
  width: 362px;
  height: 424px;
  background: url(image.png);
  border-radius: 60px;
}
.main-middle .Ghazi .hotel-pictures .hotel-krug {
  position: absolute;
  width: 68px;
  height: 68px;
  right: 20px;
  bottom: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 34px;
  padding-top: 5px;
  padding-left: 5px;
}
.main-middle .Ghazi .hotel-pictures .hotel-krug:hover {
  background: rgba(255, 255, 255, 0.5);
}
.main-middle .Ghazi .hotel-pictures .hotel-krug .arrow {
  stroke: white;
}
.main-middle .Ghazi .hotel-body {
  margin-top: 50px;
}
.main-middle .Ghazi .hotel-body .hotel-name {
  margin-left: 70px;
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  color: #101729;
}
.main-middle .Ghazi .hotel-body .hotel-text {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  margin-left: 70px;
  max-width: 450px;
  margin-top: 15px;
  color: #101729;
  opacity: 0.5;
}
.main-middle .Ghazi .hotel-body .btn-hotel {
  border: none;
  margin-left: 70px;
  margin-top: 60px;
  font-size: 20px;
  width: 223px;
  height: 79px;
  border-radius: 27px;
  background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%), linear-gradient(0deg, #BFBFBF, #BFBFBF), #FFFFFF;
  color: white;
}
.main-middle .Ghazi .hotel-body .btn-hotel:hover {
  background: #0d8baa;
}
.main-middle .Arslan {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 420px;
}
.main-middle .Arslan .hotel-pictures {
  position: relative;
}
.main-middle .Arslan .hotel-pictures::before {
  content: "";
  position: absolute;
  background: url("../img/Group 6.svg") no-repeat;
  transform: rotate(90deg);
  width: 100px;
  height: 100px;
  left: -430px;
  top: 170px;
}
.main-middle .Arslan .hotel-pictures .img-arslan {
  width: 362px;
  height: 424px;
  background: url(image.png);
  border-radius: 60px;
}
.main-middle .Arslan .hotel-pictures .hotel-krug {
  position: absolute;
  width: 68px;
  height: 68px;
  right: 20px;
  bottom: 20px;
  border: none;
  padding-top: 5px;
  padding-left: 5px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 34px;
}
.main-middle .Arslan .hotel-pictures .hotel-krug:hover {
  background: rgba(255, 255, 255, 0.5);
}
.main-middle .Arslan .hotel-pictures .hotel-krug .arrow {
  stroke: white;
}
.main-middle .Arslan .hotel-body {
  margin-top: 50px;
}
.main-middle .Arslan .hotel-body .hotel-name {
  margin-left: 70px;
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  color: #101729;
}
.main-middle .Arslan .hotel-body .hotel-text {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  margin-left: 70px;
  max-width: 450px;
  margin-top: 15px;
  color: #101729;
  opacity: 0.5;
}
.main-middle .Arslan .hotel-body .btn-hotel {
  border: none;
  margin-left: 70px;
  margin-top: 60px;
  font-size: 20px;
  width: 223px;
  height: 79px;
  border-radius: 27px;
  background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%), linear-gradient(0deg, #BFBFBF, #BFBFBF), #FFFFFF;
  color: white;
}
.main-middle .Arslan .hotel-body .btn-hotel:hover {
  background: #0d8baa;
}
.main-middle .Utsman {
  display: flex;
  flex-direction: row;
  margin-top: 128px;
}
.main-middle .Utsman .hotel-pictures {
  position: relative;
}
.main-middle .Utsman .hotel-pictures .img-utsman {
  width: 362px;
  height: 424px;
  background: url(image.png);
  border-radius: 60px;
}
.main-middle .Utsman .hotel-pictures .hotel-krug {
  position: absolute;
  width: 68px;
  height: 68px;
  right: 20px;
  bottom: 20px;
  border: none;
  padding-top: 5px;
  padding-left: 5px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}
.main-middle .Utsman .hotel-pictures .hotel-krug:hover {
  background: rgba(255, 255, 255, 0.5);
}
.main-middle .Utsman .hotel-pictures .hotel-krug .arrow {
  stroke: white;
}
.main-middle .Utsman .hotel-body {
  margin-top: 50px;
}
.main-middle .Utsman .hotel-body .hotel-name {
  margin-left: 70px;
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  color: #101729;
}
.main-middle .Utsman .hotel-body .hotel-text {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  margin-left: 70px;
  max-width: 450px;
  margin-top: 15px;
  color: #101729;
  opacity: 0.5;
}
.main-middle .Utsman .hotel-body .btn-hotel {
  border: none;
  margin-left: 70px;
  margin-top: 60px;
  font-size: 20px;
  width: 223px;
  height: 79px;
  border-radius: 27px;
  background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%), linear-gradient(0deg, #BFBFBF, #BFBFBF), #FFFFFF;
  color: white;
}
.main-middle .Utsman .hotel-body .btn-hotel:hover {
  background: #0d8baa;
}
.main-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.main-bottom .featured {
  text-align: center;
  margin-top: 256px;
}
.main-bottom .featured .featured-head {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #17C1ED;
}
.main-bottom .featured .featured-mid {
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #101729;
}
.main-bottom .main-bot1 {
  display: flex;
  flex-direction: row;
  margin-top: 98px;
}
.main-bottom .main-bot1 .text-bot {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 77px;
}
.main-bottom .main-bot1 .text-bot .textbot-head {
  font-weight: 500;
  font-size: 45px;
  line-height: 68px;
}
.main-bottom .main-bot1 .text-bot .erturul {
  display: flex;
  flex-direction: row;
  margin-top: 33px;
}
.main-bottom .main-bot1 .text-bot .erturul .name-all {
  display: flex;
  flex-direction: column;
  margin-left: 33px;
}
.main-bottom .main-bot1 .text-bot .erturul .name-all .name {
  font-weight: 500;
  font-size: 33px;
  line-height: 50px;
}
.main-bottom .main-bot1 .text-bot .erturul .name-all .name-info {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  opacity: 0.5;
  margin-top: 10px;
}
.main-bottom .main-bot1 .text-bot .textfeedback {
  margin-top: 60px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #101729;
  opacity: 0.5;
}
.main-bottom .main-bot1 .text-bot .stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  margin-top: 25px;
}
.main-bottom .main-bot2 {
  display: flex;
  flex-direction: row;
  margin-top: 113px;
  background-color: #E7F1FC;
  border-radius: 60px;
}
.main-bottom .main-bot2 .img-bot2 {
  margin-top: 21px;
  margin-left: 21px;
  margin-bottom: 21px;
}
.main-bottom .main-bot2 .text-bot2 {
  display: flex;
  flex-direction: column;
  margin-top: 97px;
  margin-left: 77px;
}
.main-bottom .main-bot2 .text-bot2 .textbot-head2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 68px;
  max-width: 500px;
}
.main-bottom .main-bot2 .text-bot2 .textfeedback2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  margin-top: 16px;
  max-width: 500px;
  color: #101729;
  opacity: 0.5;
}
.main-bottom .main-bot2 .text-bot2 .btn-hotel {
  border: none;
  margin-top: 60px;
  font-size: 20px;
  width: 223px;
  height: 79px;
  border-radius: 27px;
  background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%), linear-gradient(0deg, #BFBFBF, #BFBFBF), #FFFFFF;
  color: white;
}
.main-bottom .main-bot2 .text-bot2 .btn-hotel:hover {
  background: #0d8baa;
}
.menuf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 100px;
}
.menuf__list {
  margin-top: 54px;
  display: flex;
  font-size: 15px;
  opacity: 0.5;
}
.menuf__list .home {
  margin-right: 80px;
  margin-left: 255px;
  color: black;
}
.menuf__list .home:hover {
  color: #5a5a5a;
}
.menuf__list .featured {
  margin-right: 75px;
  color: black;
}
.menuf__list .featured:hover {
  color: #5a5a5a;
}
.menuf__list .pricing {
  margin-right: 80px;
  color: black;
}
.menuf__list .pricing:hover {
  color: #5a5a5a;
}
.menuf__list .contack {
  margin-right: 236px;
  color: black;
}
.menuf__list .contack:hover {
  color: #5a5a5a;
}
.menuf__list .signup {
  margin-right: 25px;
  color: black;
}
.menuf__list .signup:hover {
  color: #5a5a5a;
}
.menuf .logo {
  margin-top: 54px;
  font-size: 20px;
  background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}
.menuf .login {
  border: none;
  font-size: 15px;
  border-radius: 100px;
  background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%), linear-gradient(0deg, #BFBFBF, #BFBFBF), #FFFFFF;
  color: white;
  width: 128px;
  height: 49px;
  margin-top: 40px;
}
.menuf .login:hover {
  background: #0d8baa;
}
